.addRecipe{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the heading */
.addRecipe h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

/* Label styling */
.addRecipe label {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: inline-block;
}

/* Input fields styling */
input[type="email"], input[type="password"], input[type="text"], input[type="textarea"], input[type="number"], .recdetails {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
}

input[type="email"] :focus, input[type="password"]:focus , input[type="text"]:focus, input[type="textarea"]:focus, input[type="number"]:focus, .recdetails:focus {
    border-color: #333;
    background-color: #fff;
    outline: none;
}

/* Button styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Adding spacing to the form elements */
form div {
    margin-bottom: 15px;
}